.home-wrapper {
  height: 100vh;
  background: url("../bg.jpg") no-repeat center center;
  background-size: cover;
}

.home-profile-container img{
  height: 38px;
  width: 38px;
}

.logo {
  margin: 0 auto;
  width: 160px;
  text-align: center;
  position: relative;
  top: -25px;
}

.logo img{
  width: 160px;
}

.home-hello {
  font-size: 24px;
  color: #fff;
}

.home-body {
  padding: 0 20px;
}
